<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Request Test</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Submit Your Request</h2>
        <input type="text" id="inputFieldQuery" placeholder="Query: 743-88K">
        <input type="text" id="inputFieldSupplier" placeholder="Supplier: motorad">
        <input type="number" id="inputFieldDepth" placeholder="Depth: 2">
        <button onclick="submitRequest()">Submit</button>
        <button id="downloadBtn" style="display: none;" onclick="downloadJSON()">Download JSON</button>
    </div>
    <h3 id="status_line">...</h3>

    <script src="/static/script.js"></script>
</body>
</html>
